/* COLORS */
/* PADDING */
/* MARGIN */
/* WIDTH */
.btn {
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 50px;
  padding: 18px 22px;
  font-family: 'Roboto';
  font-size: 1.125em;
  font-weight: 500;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 0 10px 10px #9b9b9b;
          box-shadow: 0 10px 10px #9b9b9b;
}

/* LIKE BUTTON : HEART */
.res__card--like {
  width: 40px;
  height: 40px;
}

.res__card--like #gradient-vertical {
  --color-stop-1: #FF79DA;
  --color-stop-2: #9356DC;
}

.res__card--like g {
  fill: transparent;
  stroke: black;
  stroke-width: 400;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.res__card--like g:hover {
  fill: url(#gradient-vertical);
  stroke: transparent;
  cursor: pointer;
}

.fon__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  padding: 35px 0px;
  background-color: #eaeaea;
  border-radius: 30px;
  margin: 24px 0px 24px 10px;
  width: 100%;
  max-width: 500px;
}

.res__card {
  position: relative;
  background-color: #ffff;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}

.res__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 1080px;
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.res__card .res__card--new {
  position: absolute;
  right: 12px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 700;
  border-radius: 5px;
}

.res__card .res__card--new p {
  margin: 11px 14px;
}

.res__data {
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.res__data h3 {
  color: black;
}

.res__data p {
  margin-top: 11px;
  color: black;
}

body {
  margin: 0;
  background-color: #eaeaea;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body h1 {
  font-family: "Shrikhand";
}

body h2 {
  margin: 0px;
}

body h3 {
  margin: 0px;
}

body p {
  margin: 0px;
}

body a {
  text-decoration: none;
}

body a:hover {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

header {
  background-color: #ffff;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  padding-top: 9px;
}

#loc {
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loc i {
  margin: 0 18px 0 0px;
  color: #353535;
  font-size: 1em;
}

#exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 45px 40px;
}

#exp h2 {
  text-align: center;
}

#exp p {
  margin-top: 22px;
  text-align: center;
}

#exp button {
  margin-top: 32px;
}

#fon {
  padding: 50px 23px 50px 23px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fon .nb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  color: #ffff;
  margin-right: 22px;
  margin-left: -10px;
}

#fon i {
  margin-right: 22px;
}

#res {
  padding: 50px 23px 50px 23px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#res .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1080px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#res .container h2 {
  width: 100%;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  width: 100%;
  max-width: 1080px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .logo-white {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 18px;
  margin-bottom: 25px;
}

footer i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  -webkit-text-decoration: underline #ffff;
          text-decoration: underline #ffff;
}

footer p {
  margin-bottom: 12px;
  color: #ffff;
}

footer .foo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foo__line i {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=main.css.map */