.fon__card {
    display: flex;
    align-items: center;
    @include box-shadow;
    padding: $padding-fon__card;
    background-color: $color-grey-dark;
    border-radius: 30px;
    margin:$margin-fon__card;
    width: 100%;
    max-width: 500px;
}


.res__card {
    position: relative;
    background-color: $color-white;
    margin : 20px 0px 20px 0px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    
    img {
        object-fit: cover;
        height: 175px;
        width: 1080px;
        max-width: 100%;
        border-radius:20px 20px 0px 0px;
    }

    .res__card--new {
        position: absolute;
        right : 12px;
        top:12px;
        @include flex-center-center;
        background-color: $color-tertiary;
        color: darken($color-tertiary,40);
        font-weight: 700;
        border-radius: 5px;
        p {
            margin: 11px 14px;
        }
    }
}



.res__data {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: black;
    }

    p {
        margin-top: 11px;
        color: black;
    }
}