.fon__card {
    display: flex;
    align-items: center;
    @include box-shadow;
    padding: $padding-fon__card;
    background-color: $color-grey-dark;
    border-radius: 30px;
    margin:$margin-fon__card;
    width: 100%;
    max-width: 500px;
}


.res__card {
    position: relative;
    background-color: $color-white;
    margin : 20px 0px 20px 0px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    
    img {
        object-fit: cover;
        height: 175px;
        width: 1080px;
        max-width: 100%;
        border-radius:20px 20px 0px 0px;
    }

    .res__card--new {
        position: absolute;
        right : 12px;
        top:12px;
        @include flex-center-center;
        background-color: $color-tertiary;
        color: darken($color-tertiary,40);
        font-weight: 700;
        border-radius: 5px;
        p {
            margin: 11px 14px;
        }
    }
}



.res__data {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: black;
    }

    p {
        margin-top: 11px;
        color: black;
    }
}

.menu__cards {
    @include box-shadow;
    background-color: $color-white;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
    opacity: 0;

    @for $i from 1 to 6 {
        &:nth-child(#{$i}) {
            animation-delay: .5s * ($i - 2);
        }
    }

    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-name: slideup;
    @keyframes slideup {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .comp {
        padding: 15px 20px;
        width: 100%;
        overflow: hidden;

    
        h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .detail_price{
            display: flex;
            justify-content: space-between;

            .detail {
                overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100% - 40px);
            }

            .price {
                font-weight: 700;
            }
        }
    }
    &:hover {
        .btn--add {
            width: 60px
        }

        svg {
            transform:rotate(360deg);
        }
    }
}