body {
    margin:0;
    background-color: $color-grey-dark;
    font-size: 16px;
    font-family: $font-principal;
    h1 {
        font-family: $font-h1;
        font-size: 2.25em;
    }

    h2 {
        margin : $margin-h2;
    }

    h3 {
        margin : $margin-h2;
    }

    p {
        margin : $margin-p;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline black ;
        }
    }
}