/* COLORS */
$color-primary:#9356DC ;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white:#ffff;
$color-black: #000000;
$color-black-light:#353535;
$color-grey-light:#f6f6f6;
$color-grey-dark:#eaeaea;

$btn--add-width : 60px;