/* COLORS */
/* PADDING */
/* MARGIN */
/* WIDTH */
.btn {
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 50px;
  padding: 18px 22px;
  font-family: 'Roboto';
  font-size: 1.125em;
  font-weight: 500;
  -webkit-transition: 300ms;
  transition: 300ms;
  min-width: 185px;
}

.btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 0 10px 10px #9b9b9b;
          box-shadow: 0 10px 10px #9b9b9b;
}

/* LIKE BUTTON : HEART */
.res__card--like {
  width: 40px;
  height: 40px;
}

.res__card--like #gradient-vertical {
  --color-stop-1: #FF79DA;
  --color-stop-2: #9356DC;
}

.res__card--like g {
  fill: transparent;
  stroke: black;
  stroke-width: 400;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.res__card--like g:hover {
  fill: url(#gradient-vertical);
  stroke: transparent;
  cursor: pointer;
}

.fon__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  padding: 35px 0px;
  background-color: #eaeaea;
  border-radius: 30px;
  margin: 24px 0px 24px 10px;
  width: 100%;
  max-width: 500px;
}

.res__card {
  position: relative;
  background-color: #ffff;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}

.res__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 1080px;
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.res__card .res__card--new {
  position: absolute;
  right: 12px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 700;
  border-radius: 5px;
}

.res__card .res__card--new p {
  margin: 11px 14px;
}

.res__data {
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.res__data h3 {
  color: black;
}

.res__data p {
  margin-top: 11px;
  color: black;
}

body {
  margin: 0;
  background-color: #eaeaea;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body h1 {
  font-family: "Shrikhand";
  font-size: 2.25em;
}

body h2 {
  margin: 0px;
}

body h3 {
  margin: 0px;
}

body p {
  margin: 0px;
}

body a {
  text-decoration: none;
}

body a:hover {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  width: 100%;
  max-width: 1080px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .logo-white {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 18px;
  margin-bottom: 25px;
}

footer i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  -webkit-text-decoration: underline #ffff;
          text-decoration: underline #ffff;
}

footer p {
  margin-bottom: 12px;
  color: #ffff;
}

footer .foo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foo__line i {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}

/* COLORS */
header {
  position: relative;
  background-color: #ffff;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
}

header a {
  position: absolute;
  width: 18px;
  margin-right: 293px;
  rotate: 180deg;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
  -webkit-transition: 150ms;
  transition: 150ms;
}

header a:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  width: 23px;
}

#res-ill {
  width: 100%;
  position: absolute;
  z-index: -10;
}

#res-ill .res-ill__container {
  width: 100%;
}

#res-ill .res-ill__container .res-ill__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

#res-container {
  background-color: #f6f6f6;
  margin-top: 200px;
  border-radius: 25px 25px 0 0;
}

#res-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}

#res-title h1 {
  margin: 34px 0 42px 0;
}

/* MENU */
.menu__container {
  padding-bottom: 45px;
}

.list-menu {
  background-color: #f6f6f6;
  padding: 0px 20px;
}

.list-menu h2 {
  margin-bottom: 10px;
  font-weight: 300;
}

.list-menu .bar {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-bottom: 14px;
}

.menu__cards {
  -webkit-box-shadow: 0 5px 5px #bdbdbd;
          box-shadow: 0 5px 5px #bdbdbd;
  background-color: #ffff;
  border-radius: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px;
}

.menu__cards .comp {
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
}

.menu__cards .comp h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__cards .comp .detail_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__cards .comp .detail_price .detail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
}

.menu__cards .comp .detail_price .price {
  font-weight: 700;
}

.menu__cards .btn--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  background-color: #99E2D0;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

.menu__cards .btn--add svg {
  fill: #ffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu__cards:hover .btn--add {
  width: 60px;
}

.menu__cards:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* CONFIMATION BUTTON */
.confirm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 85px;
}
/*# sourceMappingURL=menus.css.map */