@import '../utils/_variables.scss';
@import '../utils/_mixins.scss';
@import '../base/_fonts.scss';
@import '../base/box-sizing';
@import '../components/buttons';
@import '../components/cards';
@import '../sections/body.scss';
@import '../sections/footer.scss';
@import '../sections/header-menu.scss';

#res-ill {
    width: 100%;
    position: absolute;
    z-index: -10;
    .res-ill__container {
        width: 100%;
        .res-ill__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 500px;
        }
    }
}

#res-container {
    background-color: $color-grey-light;
    margin-top: 200px;
    border-radius: 25px 25px 0 0;
}

#res-title {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 0px 20px;
    h1 {
        margin : 34px 0 42px 0;
    }
}

/* MENU */

    .menu__container {
        padding-bottom: 45px;
    }
    .list-menu {
        background-color: $color-grey-light;
        padding: 0px 20px;
        h2 {
            margin-bottom: 10px;
            font-weight: 300;
        }
        .bar {
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
            margin-bottom: 14px;
        }
    }

    .menu__cards {
        @include box-shadow;
        background-color: $color-white;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        margin-bottom: 14px;

        .comp {
            padding: 15px 20px;
            width: 100%;
            overflow: hidden;

        
            h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .detail_price{
                display: flex;
                justify-content: space-between;

                .detail {
                    overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: calc(100% - 40px);
                }

                .price {
                    font-weight: 700;
                }
            }
        }

        
        .btn--add {
            @include flex-center-center;
            width: 0px;
            background-color: $color-tertiary;
            transition: 1s;
            position: relative;
            svg {
                fill: $color-white;
                transition: 1s;
            }
        }

        &:hover {
            .btn--add {
                width: 60px
            }

            svg {
                transform:rotate(360deg);
            }
        }
    }


/* CONFIMATION BUTTON */

.confirm-btn {
    display: flex;
    justify-content: center;
    background-color: $color-grey-light;
    padding-bottom: 85px;
}
