/* PADDING */
$padding-site: 50px 23px 50px 23px;
$padding-loc: 16px 0px;
$padding-logo: 0px ;
$padding-footer: 0px;
$padding-exp: 45px 40px;
$padding-fon: 50px 23px 50px 100px;
$padding-fon__card : 35px 0px ; 

/* MARGIN */
$margin-h2: 0px;
$margin-p : 0px;
$margin-fon__card : 24px 0px 24px 10px;

/* WIDTH */
$width-fon__card: calc(100% - 25px);